footer {
  background-color: rgba(0, 0, 0, 0.05);
}

form table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

form label {
  margin-right: 30px;
}

.diff-beginner {
  background-color: #a355b8;
}

.diff-easy {
  background-color: #1ec51d;
}

.diff-medium {
  background-color: #d6db41;
}

.diff-hard {
  background-color: #ba3049;
}

.diff-challenge {
  background-color: #2691c5;
}

.diff-box {
  color: white;
}

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
}

.convert-timestamp {
  display: none;
}

.gs-ranked {
  background-color: #38abb5;
  color: white;
  border-left-width: 0 !important;
}

.common-box {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.fantastic {
  background-color: #21cce8;
}

.excellent {
  background-color: #e29c18;
}

.great {
  background-color: #66c955;
}

.decent {
  background-color: #b45cff;
}

.wayoff {
  background-color: #c9855e;
}

.miss {
  background-color: #ff3030;
}

.score-box {
  width: 100px;
  border: 1px solid black;
  height: 0.5em;
  display: grid;
}

.calendar-graph {
  display: grid;
  grid-area: graph;
  grid-gap: 5px;
  grid-template-rows: repeat(7, 15px);
  grid-auto-flow: column;
  grid-auto-columns: 15px;
}

.calendar-days {
  grid-area: days;
  display: grid;
  grid-template-rows: repeat(7, 15px);
  grid-gap: 5px;
  line-height: 1em;
}

.calendar-days div:nth-child(even) {
  visibility: hidden;
}

.calendar-months {
  grid-area: months;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.calendar-legend {
  display: inline-grid;
  grid-gap: 5px;
  grid-template-rows: repeat(1, 15px);
  grid-auto-flow: column;
  grid-auto-columns: 15px;
}

.calendar-grid {
  display: inline-grid;
  grid-template-areas: "empty months"
                       "days graph";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 5px;
}

.calendar-graph-box {
  border: 1px solid black;
}

.min-plays-0 {
  background-color: #f0f0f0;
}

.min-plays-1 {
  background-color: #d4dcfa;
}

.min-plays-10 {
  background-color: #748eff;
}

.min-plays-15 {
  background-color: #3547de;
}

.min-plays-20 {
  background-color: #11118a;
}
