footer {
  background-color: rgba(0, 0, 0, 0.05);
}

form table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

form label {
  margin-right: 30px;
}

.diff-beginner {
  background-color: #a355b8;
}

.diff-easy {
  background-color: #1ec51d;
}

.diff-medium {
  background-color: #d6db41;
}

.diff-hard {
  background-color: #ba3049;
}

.diff-challenge {
  background-color: #2691c5;
}

.diff-box {
  color: white;
}

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
}

.convert-timestamp {
  display: none;
}

.gs-ranked {
  background-color: #38abb5;
  color: white;
}

.common-box {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}
