body {
  padding-top: 60px;
}

footer {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}

form table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

form label {
  margin-right: 30px;
}
