<footer class="text-center text-lg-start bg-light text-muted">
    <div class="text-center">
        All data is in Public Domain –
        <a class="text-reset fw-bold"
           target="_blank"
           href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0 1.0)</a>
    </div>
    <div class="text-center">
        Hosted with <a target="_blank" href="https://github.com/florczakraf/boogie-stats">BoogieStats</a>.
        {% if BS_LOGO_CREDITS %}{{ BS_LOGO_CREDITS }}{% endif %}
    </div>
</footer>
