{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand p-0" href="{% url "index" %}">
            {% if BS_LOGO_PATH %}
                <img class="d-inline-block"
                     src="{% static BS_LOGO_PATH %}"
                     width="40"
                     height="40"
                     alt="BoogieStats logo"/>
            {% endif %}
            BoogieStats
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "players" %}">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "songs" %}">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "scores" %}">Scores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "edit" %}">Edit Profile</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
