{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% load l10n %}
{% load tz %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <h2>Latest Scores</h2>
    {% if latest_scores %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="bg-body-secondary">
                    <tr>
                        <th scope="col" class="w-1 text-nowrap">Submission Date</th>
                        <th scope="col" class="w-100 text-nowrap">Song</th>
                        <th scope="col" class="w-1 text-nowrap">{{ lb_display_name }} Score</th>
                        <th scope="col" class="w-1 text-nowrap">Player</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for score in latest_scores %}
                        <tr>
                            <td class="text-nowrap">
                                {% with datetime=score.submission_date %}
                                    {% include "boogie_ui/convert_timestamp.html" %}
                                {% endwith %}
                            </td>
                            <td class="text-nowrap">
                                {% with song=score.song %}
                                    {% include "boogie_ui/song_link.html" %}
                                {% endwith %}
                            </td>
                            <td class="text-nowrap">{% include "boogie_ui/score_with_judgments.html" %}</td>
                            <td class="text-nowrap">
                                {% with player=score.player %}
                                    <a href="{% url "player" player_id=player.id %}">{{ player.name }}</a>
                                    {% include "boogie_ui/twitch_live_badge.html" %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No scores are available.</p>
    {% endif %}
    <h2>Recent Player Activity</h2>
    {% if recent_activity and recent_activity.0.latest_score %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="bg-body-secondary">
                    <tr>
                        <th scope="col" class="w-1 text-nowrap">Submission Date</th>
                        <th scope="col" class="w-100 text-nowrap">Song</th>
                        <th scope="col" class="w-1 text-nowrap">{{ lb_display_name }} Score</th>
                        <th scope="col" class="w-1 text-nowrap">Player</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for player in recent_activity %}
                        <tr>
                            <td class="text-nowrap">
                                {% with datetime=player.latest_score.submission_date %}
                                    {% include "boogie_ui/convert_timestamp.html" %}
                                {% endwith %}
                            </td>
                            <td class="text-nowrap">
                                {% with song=player.latest_score.song %}
                                    {% include "boogie_ui/song_link.html" %}
                                {% endwith %}
                            </td>
                            <td class="text-nowrap">
                                {% with score=player.latest_score %}
                                    {% include "boogie_ui/score_with_judgments.html" %}
                                {% endwith %}
                            </td>
                            <td class="text-nowrap">
                                <a href="{% url "player" player_id=player.id %}">{{ player.name }}</a>
                                {% include "boogie_ui/twitch_live_badge.html" %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No recent activity available.</p>
    {% endif %}
    <h2>Instance Stats</h2>
    <ul>
        <li>
            <a href="{% url "songs" %}">Songs: {{ n_songs }}</a>
        </li>
        <li>
            <a href="{% url "scores" %}">Scores: {{ n_scores }}</a>
        </li>
        <li>
            <a href="{% url "players" %}">Players: {{ n_players }}</a>
        </li>
    </ul>
{% endblock content %}
