{% load mathfilters %}

{% include "boogie_ui/header.html" %}

<h2>Latest scores</h2>
{% if latest_scores %}
    <ul>
    {% for score in latest_scores %}
        <li>
            {{ score.submission_date }} -
            {{ score.score|div:100|stringformat:".2f" }}% -
            <a href="{% url "song" song_hash=score.song.hash %}">{{ score.song.hash }}</a> -
            <a href="{% url "player" player_id=score.player.id %}">{{ score.player.name }}</a>
            {{ score.comment }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No scores are available.</p>
{% endif %}

<h2>Instance stats</h2>
<ul>
    <li><a href="{% url "songs" %}">Songs: {{ n_songs }}</a></li>
    <li>Scores: {{ n_scores }}</li>
    <li><a href="{% url "players" %}">Players: {{ n_players }}</a></li>
</ul>
