{% extends "boogie_ui/root.html" %}
{% block title %}
    User Manual
{% endblock title %}
{% block content %}
    <h2>User Manual</h2>
    <h3>Table of Contents</h3>
    <ul>
        <li>
            <a href="#join-and-enable-groovestats">Join and Enable GrooveStats</a>
        </li>
        <li>
            <a href="#join-and-enable-boogiestats">Join and Enable BoogieStats</a>
            <ul>
                <li>
                    <a href="#zmod-sl">Zarzob's Simply Love Fork (zmod)</a>
                </li>
                <li>
                    <a href="#stock-sl">Stock Simply Love</a>
                </li>
                <li>
                    <a href="#other-themes">Other Themes</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#first-score">Your First BoogieStats Score</a>
        </li>
        <li>
            <a href="#locating-game-settings">Locating Game Settings</a>
            <ul>
                <li>
                    <a href="#portable-installations">Portable Installations</a>
                </li>
                <li>
                    <a href="#windows">Windows</a>
                </li>
                <li>
                    <a href="#linux">Linux</a>
                </li>
                <li>
                    <a href="#macos">macOS</a>
                </li>
                <li>
                    <a href="#player-profiles">Player Profiles</a>
                </li>
            </ul>
        </li>
        {% if BS_SEARCH_ENABLED %}
            <li>
                <a href="#search">Search Guide</a>
            </li>
        {% endif %}
        <li>
            <a href="#qna">Q&A</a>
        </li>
        <ul>
            {% for q in q_and_a %}
                <li>
                    <a href="#qna{{ forloop.counter|unlocalize }}">{{ q|safe }}</a>
                </li>
            {% endfor %}
        </ul>
    </ul>
    <hr>
    <h3 id="join-and-enable-groovestats">
        Join and Enable GrooveStats <a class="text-muted small" href="#join-and-enable-groovestats">#</a>
    </h3>
    In order to use this BoogieStats instance as your score aggregator you will first have to set up GrooveStats integration.
    If you already have GrooveStats up and running in <b>ITGmania</b> (<a href="https://github.com/GrooveStats/gslauncher/pull/15"
   target="_blank">BoogieStats don't support GrooveStats Launcher method anymore</a>), you can skip to <a href="#join-and-enable-boogiestats">Join and Enable BoogieStats section</a>.
    <ol>
        <li>
            Download and install ITGmania from the <a href="https://www.itgmania.com/" target="_blank">official website</a>.
            Optionally, migrate your profile form SM5 (if you have one) using <a href="https://github.com/itgmania/itgmania/blob/release/Docs/Userdocs/sm5_migration.md"
    target="_blank">the following guide</a>.
        </li>
        <li>Start the game, create a profile (if you haven't migrated a profile) and set it to a desired player slot.</li>
        <li>
            Set <code>Enable GrooveStats</code> to <code>Yes</code> in the <code>GrooveStats Options</code> submenu of <code>Options</code>.
        </li>
        <li>Turn off the game first (it's important, because the game overwrites config files on exit).</li>
        <li>
            Go to <a href="https://groovestats.com/" target="_blank">GrooveStats</a> website and <code>Sign Up</code>.
            Then log in and go to the <a href="https://groovestats.com/index.php?page=register&action=update"
    target="_blank">Edit Profile page</a> to generate and/or copy an <code>API Key</code>.
        </li>
        <li>
            Configure GrooveStats in your game profile by creating/editing a <code>GrooveStats.ini</code> file inside your profile's directory.
            If you need help locating your profile, see <a href="#locating-game-settings">Locating Game Settings section</a> of this manual.
            The file must have the following contents:
            <pre>
<code>
[GrooveStats]
ApiKey=your API key from groovestats.com
IsPadPlayer=1
</code></pre>
            Make sure that there are no spaces around the pasted API Key and that <code>IsPadPlayer</code> is set to 1,
            otherwise the game will only fetch scores without ability to send them.
        </li>
    </ol>
    <hr>
    <h3 id="join-and-enable-boogiestats">
        Join and Enable BoogieStats <a class="text-muted small" href="#join-and-enable-boogiestats">#</a>
    </h3>
    <p>
        You don't have to create any accounts, just configure the game using this guide and start playing.
        If you don't have a GrooveStats integration in your ITGmania, please start with <a href="#join-and-enable-groovestats">Join and Enable GrooveStats section</a>.
        There's a common configuration needed no matter what theme you use.
    </p>
    <p>
        First you need to allow ITGmania to make network requests to BoogieStats address.
        <b>Make sure to turn your game off before modifying the configuration.</b>
        Locate your <code>Preferences.ini</code> file in the <a href="#locating-game-settings">configuration directory</a>.
        Find the line that starts with <code>HttpAllowHosts=</code> and append <code>,{{ boogiestats_allow_host }}</code>.
        Make sure that there are <b>no extra spaces or protocol</b>, just the address after a comma.
        It's important to keep GrooveStats in the list to allow downloads of unlockable songs in the contests held on GrooveStats.
    </p>
    For example, change:
    <pre><code>
HttpAllowHosts=*.groovestats.com
</code></pre>
    to:
    <pre><code>
HttpAllowHosts=*.groovestats.com,{{ boogiestats_allow_host }}
</code></pre>
    <p>
        Now pick the theme-specific instructions that apply to you.
        If you start with a fresh ITGmania installation and don't know what to choose, <code>zmod</code> offers the best BoogieStats user experience at the moment.
    </p>
    <h4 id="zmod-sl">
        Zarzob's Simply Love Fork (zmod) <a class="text-muted small" href="#zmod-sl">#</a>
    </h4>
    <p>
        Zarzob's fork of Simply Love, commonly referred to as <code>zmod</code>, has an extended support for BoogieStats.
        You can download it from the <a href="https://github.com/zarzob/Simply-Love-SM5" target="_blank">project's GitHub page</a>.
    </p>
    <p>
        If you run already have a recent version of <code>zmod</code>, just
        set <code>Use BoogieStats</code> to <code>Yes</code> in the <code>Zmod Options</code> submenu of <code>Options</code>.
    </p>
    <h4 id="stock-sl">
        Stock Simply Love <a class="text-muted small" href="#stock-sl">#</a>
    </h4>
    Modify <code>Simply Love</code> theme to redirect requests from <code>api.groovestats.com</code> to this BoogieStats instance.
    Find and modify <code>ITGMANIA_PATH/Themes/Simply Love/Scripts/SL-Helpers-GrooveStats.lua</code> — change line that starts with <code>local url_prefix</code> from:
    <pre><code>
local url_prefix = "https://api.groovestats.com/"
</code></pre>
    to:
    <pre><code>
local url_prefix = "{{ boogiestats_url_prefix }}"
</code></pre>
    <p>
        Make sure that the trailing forward slash (<code>/</code>) is included and that there are no extra spaces on either end of the address.
    </p>
    <h4 id="other-themes">
        Other Themes <a class="text-muted small" href="#other-themes">#</a>
    </h4>
    <p>
        There's a chance that if your current theme supports automatic score submissions from ITGmania without GrooveStats Launcher,
        the method described for <a href="#stock-sl">Stock Simply Love</a> theme could also be adapted for your theme, but it's not been tested.
    </p>
    <hr>
    <h4 id="first-score">
        Your First BoogieStats Score <a class="text-muted small" href="#first-score">#</a>
    </h4>
    <p>
        When you completed all required configuration you can just start playing. All songs will now appear as "ranked" in game.
        If you use <code>zmod</code> theme, the leaderboards will display the source of scores (either GS or BS).
    </p>
    <p>
        After you play and <b>pass</b> any song and your score is not disqualified locally by the game, your
        score will appear on the <a href="{% url "scores" %}" target="_blank">recent scores page</a>.
        Make sure that the bottom of the result screen in game says <code>Submitted!</code>.
        If for any reason the score is disqualified, the panel with QR code should give you more details.
    </p>
    <p>
        When the score has been submitted by game, a BoogieStats player profile will be created automatically.
        If you chose to play a GS-ranked song, the profile will already have your nickname and machine tag pulled from GS,
        otherwise they will remain randomly generated until you complete a GS-ranked song or set them manually on the <a href="{% url "edit" %}" target="_blank">Edit Profile page</a>.
        Use your GrooveStats API Key to log in (you can paste the whole key, it will be automatically cut to the limit inside the form), the same one that's been set in <code>GrooveStats.ini</code> file.
        You can also disable the automatic name and tag updates on that page.
    </p>
    <p>
        <a href="{% url "edit" %}" target="_blank">Edit Profile</a> also allows you to choose rivals.
        Historically you could only set up to 3 rivals but BoogieStats currently allows you to choose as many as you want.
        All of them will be shown on your BoogieStats profile with option to open the comparison page,
        but only the top 3 scores of your rivals on a given chart will be displayed on the leaderboards in the game.
        If you don't like this in-game behavior, just set up to 3 rivals.
    </p>
    <p>
        If you ever need to change your GS API Key, <a href="{% url "edit" %}" target="_blank">Edit Profile</a> page will also allow to update it in your BoogieStats account.
        If you submit a score with <b>a new GS API Key without updating it first there</b>, a new account will be created. See Q&A section for details.
    </p>
    <hr>
    <h3 id="locating-game-settings">
        Locating Game Settings <a class="text-muted small" href="#locating-game-settings">#</a>
    </h3>
    ITGmania keeps configuration and player profiles inside a directory that depends on type of installation and your system.
    Remember to <b>only modify the configuration when the game is not running</b>, otherwise it will be overwritten.
    <h4 id="portable-installations">
        Portable Installations <a class="text-muted small" href="#portable-installations">#</a>
    </h4>
    Your configuration will be in <code>GAME_INSTALLATION_DIR/Save</code> directory.
    <ul>
        <li>
            Preferences: <code>INSTALLATION_DIR/Save/Preferences.ini</code>
        </li>
        <li>
            Profiles: <code>INSTALLATION_DIR/Save/LocalProfiles/</code>
        </li>
    </ul>
    <h4 id="windows">
        Windows <a class="text-muted small" href="#windows">#</a>
    </h4>
    Your configuration will be in <code>%appdata%/ITGmania/Save</code> directory (paste this path to a navigation bar of file explorer and hit enter).
    <ul>
        <li>
            Preferences: <code>%appdata%/ITGmania/Save/Preferences.ini</code>
        </li>
        <li>
            Profiles: <code>%appdata%/ITGmania/Save/LocalProfiles/</code>
        </li>
    </ul>
    <h4 id="linux">
        Linux <a class="text-muted small" href="#linux">#</a>
    </h4>
    Your configuration will be in <code>~/.itgmania/Save</code> directory.
    <ul>
        <li>
            Preferences: <code>~/.itgmania/Save/Preferences.ini</code>
        </li>
        <li>
            Profiles: <code>~/.itgmania/Save/LocalProfiles/</code>
        </li>
    </ul>
    <h4 id="macos">
        macOS <a class="text-muted small" href="#macos">#</a>
    </h4>
    Your configuration will be in <code>~/Library/Preferences/ITGmania</code> directory.
    Please note that by default it might be hidden in Finder.
    You can display <code>Library</code> directory by navigating to your home directory, pressing <code>Cmd+J</code> and checking <code>Show Library Folder</code>.
    <ul>
        <li>
            Preferences: <code>~/Library/Preferences/ITGmania/Preferences.ini</code>
        </li>
        <li>
            Profiles: <code>~/Library/Preferences/ITGmania/LocalProfiles/</code>
        </li>
    </ul>
    <h4 id="player-profiles">
        Player Profiles <a class="text-muted small" href="#player-profiles">#</a>
    </h4>
    Profiles are stored inside <code>LocalProfiles</code> directory, they are usually named using consecutive ids,
    for example: <code>Save/LocalProfiles/00000000/</code>.
    If you have more than one profile, you can check the <code>Editable.ini</code> inside a profile to make sure that
    you picked the correct one.
    {% if BS_SEARCH_ENABLED %}
        <hr>
        <h3 id="search">
            Search Guide <a class="text-muted small" href="#search">#</a>
        </h3>
        <p>
            This BoogieStats instance has a search feature that allows you to search songs that have already been played.
            Please note that this is still an experimental feature and might not work in all the cases. Additionally, the
            used search engine (<a href="https://redis.io/docs/stack/search/" target="_blank">RediSearch</a>) imposes
            several limitations on the queries but on the other hand brings some features for power-users.
        </p>
        <p>
            Below you can find a list of example queries with explanations which can help you figure out how the search
            works. You can use multiple special terms in a single query.
        </p>
        <ul>
            <li>
                Basic search tries to fuzzy-match each word you enter. For example <code>barbie gurl</code> will match
                <code>barbie girl</code> song. <a href="{% url "search" %}?q=barbie+gurl" target="_blank">[example]</a>
            </li>
            <li>
                Sometimes there are too many results which have something in common that you'd like to skip. When that's
                the case you can simply add <code>-term</code> to the query.
                <a href="{% url "search" %}?q=basshunter -dota" target="_blank">[example]</a>
            </li>
            <li>
                Fuzzy search isn't always desired, so it's possible to quote a <b>single</b> term to disable its fuzzy matching.
                Quoting multiple query terms at once is currently not supported. In the following example unquoted
                <code>jump</code> would also match a lot of <code>pump</code> occurrences.
                <a href="{% url "search" %}?q='jump'" target="_blank">[example]</a>
            </li>
            <li>
                Using glob search might be useful when you're unsure about the phrase you search for. For example a simple
                <code>warning</code> query would fail to find <code>WARNINGxWARNINGxWARNING</code> song. Adding a star on
                either end of the word will try to match more characters on that end. However, an extra single quote mark
                is needed at the beginning of the term. <a href="{% url "search" %}?q='warning*" target="_blank">[example]</a>
            </li>
            <li>
                You might want to search for songs within a pack that match a given query. Please note that the current
                chart metadata database stores only one pack name per chart, and it might not be what you expect. Similar
                notation could be used for artist, title and subtitle but there are also fields with <code>translit</code>
                suffix because that's how the charts store the info. <a href="{% url "search" %}?q=@pack_name:itl" target="_blank">[example]</a>
            </li>
            <li>
                There's an option to search by chart type. To search all double songs an extra backslash escape is needed
                for <code>-</code> character. <a href="{% url "search" %}?q=@steps_type:{dance\-double}"
    target="_blank">[example]</a>
            </li>
            <li>
                Matching charts within given difficulty range is also possible. The numbers are inclusive ends of the range.
                <a href="{% url "search" %}?q=anubis+@diff_number:[7,7]" target="_blank">[example]</a>
            </li>
        </ul>
    {% endif %}
    <hr>
    <h3 id="qna">
        Q&A <a class="text-muted small" href="#qna">#</a>
    </h3>
    {% for q, a in q_and_a.items %}
        <h4 id="qna{{ forloop.counter }}">
            <b>Q:</b> {{ q|safe }} <a class="text-muted small" href="#qna{{ forloop.counter|unlocalize }}">#</a>
        </h4>
        {{ a|safe }}
        <hr>
    {% endfor %}
{% endblock content %}
