{% extends "boogie_ui/root.html" %}
{% block title %}
    Players
{% endblock title %}
{% block content %}
    <h2>Players</h2>
    {% if players %}
        {% include "boogie_ui/paginator.html" %}
        <table class="table table-striped">
            <thead class="bg-body-secondary">
                <tr>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "players" %}">ID
                            {% if request.resolver_match.url_name == "players" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-100 text-nowrap">
                        <a href="{% url "players_by_name" %}">Name
                            {% if request.resolver_match.url_name == "players_by_name" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "players" %}">Joined on
                            {% if request.resolver_match.url_name == "players" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "players_by_machine_tag" %}">Machine Tag
                            {% if request.resolver_match.url_name == "players_by_machine_tag" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "players_by_scores" %}">#Scores
                            {% if request.resolver_match.url_name == "players_by_scores" %}↓{% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for player in players %}
                    <tr>
                        <td class="text-nowrap">
                            <a href="{% url "player" player_id=player.id %}">{{ player.id }}</a>
                        </td>
                        <td class="text-nowrap">
                            <a href="{% url "player" player_id=player.id %}">{{ player.name }}</a>
                        </td>
                        <td class="text-nowrap">
                            <a href="{% url "player" player_id=player.id %}">{{ player.join_date.date }}</a>
                        </td>
                        <td class="text-nowrap">
                            <a href="{% url "player" player_id=player.id %}">{{ player.machine_tag }}</a>
                        </td>
                        <td class="text-nowrap">
                            <a href="{% url "player" player_id=player.id %}">{{ player.num_scores }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No players.</p>
    {% endif %}
{% endblock content %}
