{% extends "boogie_ui/root.html" %}
{% load static %}
{% load formsetify %}
{% block head_extras %}
    <link href="{% static 'formset/css/bootstrap5-extra.css' %}"
          rel="stylesheet">
    <link href="{% static 'formset/css/collections.css' %}" rel="stylesheet">
    <script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
{% endblock head_extras %}
{% block title %}
    Edit Profile
{% endblock title %}
{% block content %}
    <div class="container">
        <h2>Edit Profile</h2>
        <django-formset endpoint="{{ request.path }}"  csrf-token="{{ csrf_token }}">
        {{ form }}
        <button type="button"
                df-click="disable -> submit -> proceed"
                class="btn btn-primary">Submit</button>
        </django-formset>
    </div>
{% endblock content %}
