{% extends "boogie_ui/root.html" %}
{% load bootstrap_icons %}
{% load mathfilters %}
{% load l10n %}
{% block title %}
    {{ player.name }} ({{ player.machine_tag }})
{% endblock title %}
{% block head_extras %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title"
          content="{{ player.name }} ({{ player.machine_tag }})" />
    <meta property="og:description"
          content="Joined on: {{ player.join_date.date }} | Scores: {{ player.num_scores }} | Charts played: {{ player.num_songs }}" />
{% endblock head_extras %}
{% block content %}
    <h1>
        {{ player.name }} ({{ player.machine_tag }})
        {% if user.is_authenticated and user.player.id != player.id %}
            {% if is_rival %}
                <form method="post"
                      class="d-inline"
                      action="{% url "remove_rival" player_id=player.id %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-danger" value="Remove rival">
                </form>
            {% else %}
                <form method="post"
                      class="d-inline"
                      action="{% url "add_rival" player_id=player.id %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-success" value="Add rival">
                </form>
            {% endif %}
        {% endif %}
    </h1>
    <div class="d-flex">
        <div class="col">
            <ul>
                <li>Joined on: {{ player.join_date.date }}</li>
                <li>Scores: {{ player.num_scores }}</li>
                <li>Charts played: {{ player.num_songs }}</li>
                {% if player.discord_handle %}
                    <li>{% bs_icon "discord" %} @{{ player.discord_handle }}</li>
                {% endif %}
                {% if social_links or custom_social_links %}
                    <li>
                        {% for icon, handle_link in social_links.items %}
                            <a class="btn btn-sm btn-outline-secondary social-button"
                               data-bs-toggle="tooltip"
                               title="{{ icon }}: @{{ handle_link.0 }}"
                               role="button"
                               href="{{ handle_link.1|unlocalize }}"
                               target="_blank">{% bs_icon icon %}</a>
                        {% endfor %}
                        {% for icon, handle_link in custom_social_links.items %}
                            <a class="btn btn-sm btn-outline-secondary social-button grayscale"
                               data-bs-toggle="tooltip"
                               title="{{ icon }}: @{{ handle_link.0 }}"
                               role="button"
                               href="{{ handle_link.1|unlocalize }}"
                               target="_blank">{% custom_icon icon %}</a>
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
        </div>
        {% include "boogie_ui/stars.html" %}
    </div>
    <div class="d-flex">
        {% if rivals %}
            <div class="col">
                <h3>Rivals ({{ rivals|length }})</h3>
                <ul>
                    {% for rival in rivals|slice:":3" %}
                        <li>
                            <a href="{% url "player" player_id=rival.id %}">{{ rival.name }} ({{ rival.machine_tag }})</a>
                            <a class="btn btn-sm btn-outline-secondary btn-compare"
                               role="button"
                               data-bs-toggle="tooltip"
                               title="Compare profiles"
                               href="{% url "versus" p1=player.id p2=rival.id %}">{% bs_icon "plus-slash-minus" %}</a>
                        </li>
                    {% endfor %}
                    {% if rivals|length > 3 %}
                        <div class="collapse multi-collapse" id="moreRivals">
                            {% for rival in rivals|slice:"3:" %}
                                <li>
                                    <a href="{% url "player" player_id=rival.id %}">{{ rival.name }} ({{ rival.machine_tag }})</a>
                                    <a class="btn btn-sm btn-outline-secondary btn-compare"
                                       role="button"
                                       data-bs-toggle="tooltip"
                                       title="Compare profiles"
                                       href="{% url "versus" p1=player.id p2=rival.id %}">{% bs_icon "plus-slash-minus" %}</a>
                                </li>
                            {% endfor %}
                        </div>
                    {% endif %}
                </ul>
                {% if rivals|length > 3 %}
                    <a class="btn btn-primary collapse multi-collapse show"
                       id="moreRivalsButton"
                       data-bs-toggle="collapse"
                       data-bs-target=".multi-collapse"
                       role="button"
                       aria-expanded="false"
                       aria-controls="moreRivals moreRivalsButton">Show {{ rivals|length|sub:3 }} More</a>
                {% endif %}
            </div>
        {% endif %}
        {% if rival_of %}
            <div class="col">
                <h3>Rival of ({{ rival_of|length }})</h3>
                <ul>
                    {% for rival in rival_of|slice:":3" %}
                        <li>
                            <a href="{% url "player" player_id=rival.id %}">{{ rival.name }} ({{ rival.machine_tag }})</a>
                            <a class="btn btn-sm btn-outline-secondary btn-compare"
                               role="button"
                               data-bs-toggle="tooltip"
                               title="Compare profiles"
                               href="{% url "versus" p1=player.id p2=rival.id %}">{% bs_icon "plus-slash-minus" %}</a>
                        </li>
                    {% endfor %}
                    {% if rival_of|length > 3 %}
                        <div class="collapse multi-collapse2" id="moreRivalOf">
                            {% for rival in rival_of|slice:"3:" %}
                                <li>
                                    <a href="{% url "player" player_id=rival.id %}">{{ rival.name }} ({{ rival.machine_tag }})</a>
                                    <a class="btn btn-sm btn-outline-secondary btn-compare"
                                       role="button"
                                       data-bs-toggle="tooltip"
                                       title="Compare profiles"
                                       href="{% url "versus" p1=player.id p2=rival.id %}">{% bs_icon "plus-slash-minus" %}</a>
                                </li>
                            {% endfor %}
                        </div>
                    {% endif %}
                </ul>
                {% if rival_of|length > 3 %}
                    <a class="btn btn-primary collapse multi-collapse2 show"
                       id="moreRivalOfButton"
                       data-bs-toggle="collapse"
                       data-bs-target=".multi-collapse2"
                       role="button"
                       aria-expanded="false"
                       aria-controls="moreRivalOf moreRivalOfButton">Show {{ rival_of|length|sub:3 }} More</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <hr />
    {% include "boogie_ui/calendar.html" %}
    <div>
        See yearly stats:
        {% for year in wrapped_years %}
            <a href="{% url "wrapped" player_id=player.id year=year %}">{{ year|unlocalize }}</a>
            {% if not forloop.last %}|{% endif %}
        {% endfor %}
    </div>
    <hr />
    <a href="{% url "player" player_id=player.id %}"
       class="btn {% if request.resolver_match.url_name == "player" %}btn-success{% else %}btn-secondary{% endif %}">
        Recent Scores
    </a>
    <a href="{% url "player_highscores" player_id=player.id %}"
       class="btn {% if request.resolver_match.url_name == "player_highscores" %}btn-success{% else %}btn-secondary{% endif %}">
        Highscores
    </a>
    <a href="{% url "player_most_played" player_id=player.id %}"
       class="btn {% if request.resolver_match.url_name == "player_most_played" %}btn-success{% else %}btn-secondary{% endif %}">
        Most Played
    </a>
    {% if scores %}
        {% include "boogie_ui/paginator.html" %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="bg-body-secondary">
                    <tr>
                        {% if request.resolver_match.url_name == "player_most_played" %}
                            <th scope="col" class="w-1 text-nowrap">Play Count ↓</th>
                        {% endif %}
                        <th scope="col" class="w-100 text-nowrap">Song</th>
                        <th scope="col" class="w-1 text-nowrap">Comment</th>
                        <th scope="col" class="w-1 text-nowrap">
                            {% if request.resolver_match.url_name == "player" %}
                                {{ lb_display_name }} Score
                            {% else %}
                                {{ lb_display_name }} Highscore
                            {% endif %}
                            {% if request.resolver_match.url_name == "player_highscores" %}↓{% endif %}
                        </th>
                        <th scope="col" class="w-1 text-nowrap">
                            Submission Date
                            {% if request.resolver_match.url_name == "player" %}↓{% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for score in scores %}
                        <tr>
                            {% if request.resolver_match.url_name == "player_most_played" %}
                                <td class="text-nowrap">{{ score.num_scores }}</td>
                            {% endif %}
                            <td class="text-nowrap">
                                {% with song=score.song %}
                                    {% include "boogie_ui/song_link.html" %}
                                {% endwith %}
                            </td>
                            <td class="text-nowrap">{{ score.comment }}</td>
                            <td class="text-nowrap">{% include "boogie_ui/score_with_judgments.html" %}</td>
                            <td class="text-nowrap">
                                {% with datetime=score.submission_date %}
                                    {% include "boogie_ui/convert_timestamp.html" %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No scores.</p>
    {% endif %}
{% endblock content %}
