{% extends "boogie_ui/root.html" %}
{% load l10n %}
{% block title %}
    Players
{% endblock title %}
{% block content %}
    <h2>Players</h2>
    <div class="my-3">
        <form class="form-inline" method="get">
            <input name="q"
                   class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search"
                   {% if user_query %}value="{{ user_query }}"{% endif %} />
        </form>
    </div>
    {% if players %}
        {% include "boogie_ui/paginator.html" %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="bg-body-secondary">
                    <tr>
                        <th scope="col" class="w-1 text-nowrap">
                            <a href="{% url "players" %}?{% include "boogie_ui/q_parameter.html" %}">ID
                                {% if request.resolver_match.url_name == "players" %}↓{% endif %}
                            </a>
                        </th>
                        <th scope="col" class="w-100 text-nowrap">
                            <a href="{% url "players_by_name" %}?{% include "boogie_ui/q_parameter.html" %}">Name
                                {% if request.resolver_match.url_name == "players_by_name" %}↓{% endif %}
                            </a>
                        </th>
                        <th scope="col" class="w-100 text-nowrap">
                            <a href="{% url "players_by_quints" %}?{% include "boogie_ui/q_parameter.html" %}">Quints
                                {% if request.resolver_match.url_name == "players_by_quints" %}↓{% endif %}
                            </a>
                        </th>
                        <th scope="col" class="w-100 text-nowrap">
                            <a href="{% url "players_by_quads" %}?{% include "boogie_ui/q_parameter.html" %}">Quads
                                {% if request.resolver_match.url_name == "players_by_quads" %}↓{% endif %}
                            </a>
                        </th>
                        <th scope="col" class="w-1 text-nowrap">
                            <a href="{% url "players" %}?{% include "boogie_ui/q_parameter.html" %}">Joined on
                                {% if request.resolver_match.url_name == "players" %}↓{% endif %}
                            </a>
                        </th>
                        <th scope="col" class="w-1 text-nowrap">
                            <a href="{% url "players_by_machine_tag" %}?{% include "boogie_ui/q_parameter.html" %}">Machine Tag
                                {% if request.resolver_match.url_name == "players_by_machine_tag" %}↓{% endif %}
                            </a>
                        </th>
                        <th scope="col" class="w-1 text-nowrap">
                            <a href="{% url "players_by_scores" %}?{% include "boogie_ui/q_parameter.html" %}">#Scores
                                {% if request.resolver_match.url_name == "players_by_scores" %}↓{% endif %}
                            </a>
                        </th>
                        <th scope="col" class="w-1 text-nowrap">
                            <a href="{% url "players_by_songs" %}?{% include "boogie_ui/q_parameter.html" %}">#Songs
                                {% if request.resolver_match.url_name == "players_by_songs" %}↓{% endif %}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for player in players %}
                        <tr>
                            <td class="text-nowrap">
                                <a href="{% url "player" player_id=player.id %}">{{ player.id }}</a>
                            </td>
                            <td class="text-nowrap">
                                <a href="{% url "player" player_id=player.id %}">{{ player.name }}</a>
                            </td>
                            <td class="text-nowrap">
                                <a href="{% url "player" player_id=player.id %}">{{ player.five_stars|localize }}</a>
                            </td>
                            <td class="text-nowrap">
                                <a href="{% url "player" player_id=player.id %}">{{ player.four_stars|localize }}</a>
                            </td>
                            <td class="text-nowrap">
                                <a href="{% url "player" player_id=player.id %}">{{ player.join_date.date }}</a>
                            </td>
                            <td class="text-nowrap">
                                <a href="{% url "player" player_id=player.id %}">{{ player.machine_tag }}</a>
                            </td>
                            <td class="text-nowrap">
                                <a href="{% url "player" player_id=player.id %}">{{ player.num_scores|localize }}</a>
                            </td>
                            <td class="text-nowrap">
                                <a href="{% url "player" player_id=player.id %}">{{ player.num_songs|localize }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No players.</p>
    {% endif %}
{% endblock content %}
