{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% load bootstrap_icons %}
{% block title %}
    {{ player.name }} ({{ player.machine_tag }}) {{ year|unlocalize }} Wrapped
{% endblock title %}
{% block head_extras %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title"
          content="{{ player.name }} ({{ player.machine_tag }}) | {{ year|unlocalize }} Wrapped" />
    <meta property="og:description"
          content="Scores: {{ num_scores }} | Charts played: {{ num_charts_played }}" />
{% endblock head_extras %}
{% block content %}
    <h1>
        <a href="{% url "player" player_id=player.id %}">{{ player.name }} ({{ player.machine_tag }})</a> | {{ year|unlocalize }} Wrapped
    </h1>
    <div class="d-flex">
        <div class="col">
            <ul>
                <li>Scores: {{ num_scores }}</li>
                <li>Unique charts: {{ num_charts_played }}</li>
                <li>Unique days: {{ played_days }}</li>
                <li>Most scores: {{ most_plays.plays }} ({{ most_plays.submission_day }})</li>
                <li>Longest streak: {{ longest_streak }} days ({{ longest_streak_start }})</li>
                <li>Steps hit: {{ steps_hit }}</li>
                {% if most_played_song and highest_itg_score and highest_ex_score %}
                    <li>
                        Most played song:
                        {% with song=most_played_song %}
                            {% include "boogie_ui/song_link.html" %}
                        {% endwith %}
                        ({{ most_played_song_plays }} plays)
                    </li>
                    <li>
                        Highest ITG Score:
                        {% with song=highest_itg_score.song %}
                            {% include "boogie_ui/song_link.html" %}
                        {% endwith %}
                        {% with score=highest_itg_score lb_attribute="itg_score" %}
                            {% include "boogie_ui/score_with_judgments.html" %}
                        {% endwith %}
                    </li>
                    <li>
                        Highest EX Score:
                        {% with song=highest_ex_score.song %}
                            {% include "boogie_ui/song_link.html" %}
                        {% endwith %}
                        {% with score=highest_ex_score lb_attribute="ex_score" %}
                            {% include "boogie_ui/score_with_judgments.html" %}
                        {% endwith %}
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col">
            {% include "boogie_ui/stars.html" %}
            <button type="button"
                    class="btn btn-outline-secondary"
                    data-bs-toggle="tooltip"
                    title="Wrapped stars include all submitted scores that match the criteria, not only the top ones for each chart.">
                {% bs_icon "question-circle" %}
            </button>
        </div>
    </div>
    {% with both_fantastics=fantastics|add:fantastics_plus %}
        <div class="text-center d-flex flex-column justify-content-evenly"
             data-bs-toggle="tooltip"
             data-bs-html="true"
             title="Fantastics+: {{ fantastics_plus }} ({% widthratio fantastics_plus total_steps 100 %}%) <br /> Fantastics: {{ fantastics }} ({% widthratio fantastics total_steps 100 %}%) <br /> Excellents: {{ excellents }} ({% widthratio excellents total_steps 100 %}%) <br /> Greats: {{ greats }} ({% widthratio greats total_steps 100 %}%) <br /> Decents: {{ decents }} ({% widthratio decents total_steps 100 %}%) <br /> Way-offs: {{ way_offs }} ({% widthratio way_offs total_steps 100 %}%) <br /> Misses: {{ misses }} ({% widthratio misses total_steps 100 %}%) <br /> ">
        <div class="big-score-box"
             style="grid-template-columns: {{ fantastics_plus|unlocalize }}fr {{ fantastics|unlocalize }}fr {{ excellents|unlocalize }}fr {{ greats|unlocalize }}fr {{ decents|unlocalize }}fr {{ way_offs|unlocalize }}fr {{ misses|unlocalize }}fr">
            <div class="fantastic"></div>
            <div class="fantastic_white"></div>
            <div class="excellent"></div>
            <div class="great"></div>
            <div class="decent"></div>
            <div class="wayoff"></div>
            <div class="miss"></div>
        </div>
    </div>
{% endwith %}
<hr />
{% include "boogie_ui/calendar.html" %}
<div>
    See other years:
    {% for year in wrapped_years %}
        <a href="{% url "wrapped" player_id=player.id year=year %}">{{ year|unlocalize }}</a>
        {% if not forloop.last %}|{% endif %}
    {% endfor %}
</div>
{% endblock content %}
