{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% block title %}
    {{ player.name }} ({{ player.machine_tag }})
{% endblock title %}
{% block content %}
    <h1>{{ player.name }} ({{ player.machine_tag }})</h1>
    {% if rivals %}
        <h3>Rivals ({{ rivals|length }})</h3>
        <ul>
            {% for rival in rivals|slice:":3" %}
                <li>
                    <a href="{% url "player" player_id=rival.id %}">{{ rival.name }} ({{ rival.machine_tag }})</a> -
                    <a href="{% url "versus" p1=player.id p2=rival.id %}">compare scores</a>
                </li>
            {% endfor %}
            {% if rivals|length > 3 %}
                <div class="collapse multi-collapse" id="moreRivals">
                    {% for rival in rivals|slice:"3:" %}
                        <li>
                            <a href="{% url "player" player_id=rival.id %}">{{ rival.name }} ({{ rival.machine_tag }})</a> -
                            <a href="{% url "versus" p1=player.id p2=rival.id %}">compare scores</a>
                        </li>
                    {% endfor %}
                </div>
            {% endif %}
        </ul>
        {% if rivals|length > 3 %}
            <a class="btn btn-primary collapse multi-collapse show"
               id="moreRivalsButton"
               data-bs-toggle="collapse"
               data-bs-target=".multi-collapse"
               role="button"
               aria-expanded="false"
               aria-controls="moreRivals moreRivalsButton">Show {{ rivals|length|sub:3 }} More Rivals</a>
        {% endif %}
    {% endif %}
    <hr/>
    <a href="{% url "player" player_id=player.id %}"
       class="btn {% if request.resolver_match.url_name == "player" %}btn-success{% else %}btn-secondary{% endif %}">
        Recent Scores
    </a>
    <a href="{% url "player_highscores" player_id=player.id %}"
       class="btn {% if request.resolver_match.url_name == "player_highscores" %}btn-success{% else %}btn-secondary{% endif %}">
        Highscores
    </a>
    <h3>
        {% if request.resolver_match.url_name == "player" %}
            Recent Scores
        {% else %}
            Highscores
        {% endif %}
    </h3>
    {% if scores %}
        {% include "boogie_ui/paginator.html" %}
        <table class="table table-striped">
            <thead class="table-secondary">
                <tr>
                    <th scope="col" class="w-100 text-nowrap">Song</th>
                    <th scope="col" class="w-1 text-nowrap">Comment</th>
                    <th scope="col" class="w-1 text-nowrap">
                        Score
                        {% if request.resolver_match.url_name == "player_highscores" %}↓{% endif %}
                    </th>
                    <th scope="col" class="w-1 text-nowrap">
                        Submission Date
                        {% if request.resolver_match.url_name == "player" %}↓{% endif %}
                    </th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for score in scores %}
                    <tr>
                        <td>
                            {% with song=score.song %}
                                {% include "boogie_ui/song_link.html" %}
                            {% endwith %}
                        </td>
                        <td class="text-nowrap">{{ score.comment }}</td>
                        <td class="text-nowrap">{% include "boogie_ui/score_with_judgments.html" %}</td>
                        <td class="text-nowrap">
                            {% with datetime=score.submission_date %}
                                {% include "boogie_ui/convert_timestamp.html" %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No songs.</p>
    {% endif %}
{% endblock content %}
