{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" content="boogiestats,stepmania,groovestats" />
        <meta name="Description"
              content="A pass-through proxy for groovestats.com that records non-ranked song scores." />
        <link rel="stylesheet" href="{% static "boogie_ui/vendor/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "boogie_ui/boogiestats.css" %}" />
        <title>
            {% block title %}
                {{ page_title|default:"BoogieStats" }}
            {% endblock title %}
            — BoogieStats
        </title>
        {% if BS_LOGO_PATH %}
            <link rel="icon" type="image/svg+xml" href="{% static BS_LOGO_PATH %}" />
        {% endif %}
        {% block head_extras %}
        {% endblock head_extras %}
    </head>
    <body>
        {% include "boogie_ui/header.html" %}
        <div class="container-fluid">
            {% for message in messages %}<div class="alert {{ message.tags }}" role="alert">{{ message }}</div>{% endfor %}
            {% block content %}
            {% endblock content %}
        </div>
        {% include "boogie_ui/footer.html" %}
        <script src="{% static "boogie_ui/vendor/jquery-3.6.0.min.js" %}"></script>
        <script src="{% static "boogie_ui/vendor/popper.min.js" %}"></script>
        <script src="{% static "boogie_ui/vendor/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "boogie_ui/boogiestats.js" %}"></script>
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>
    </body>
</html>
