{% load static %}
<!DOCTYPE html>
<html lang="en"
      data-bs-theme="{{ request.COOKIES.bs_theme|default:"light" }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="boogiestats,stepmania,groovestats" />
        <meta name="Description"
              content="A pass-through proxy for groovestats.com that records non-ranked song scores." />
        <link rel="stylesheet" href="{% static "boogie_ui/vendor/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "boogie_ui/boogiestats.css" %}" />
        <link href="https://fonts.cdnfonts.com/css/miso" rel="stylesheet" />
        <link href="https://fonts.cdnfonts.com/css/wendy" rel="stylesheet" />
        <title>
            {% block title %}
                {{ page_title|default:"BoogieStats" }}
            {% endblock title %}
            — BoogieStats
        </title>
        {% if BS_LOGO_PATH %}
            <link rel="icon" type="image/svg+xml" href="{% static BS_LOGO_PATH %}" />
        {% endif %}
        {% block head_extras %}
        {% endblock head_extras %}
    </head>
    <body class="min-vh-100 d-flex flex-column">
        {% include "boogie_ui/header.html" %}
        <div class="container-fluid my-2">
            {% for message in messages %}<div class="alert {{ message.tags }}" role="alert">{{ message|safe }}</div>{% endfor %}
            {% block content %}
            {% endblock content %}
        </div>
        {% include "boogie_ui/footer.html" %}
        <script src="{% static "boogie_ui/vendor/jquery-3.6.0.min.js" %}"></script>
        <script src="{% static "boogie_ui/vendor/popper.min.js" %}"></script>
        <script src="{% static "boogie_ui/vendor/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "boogie_ui/boogiestats.js" %}"></script>
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

            document.getElementById('darkModeSwitch').addEventListener('click', () => {
                if (document.documentElement.getAttribute('data-bs-theme') === 'dark') {
                    document.documentElement.setAttribute('data-bs-theme', 'light')
                    document.cookie = "bs_theme=light; Name=Value; Max-Age=1707109200; Path=/"
                }
                else {
                    document.documentElement.setAttribute('data-bs-theme', 'dark')
                    document.cookie = "bs_theme=dark; Name=Value; Max-Age=1707109200; Path=/"
                }
            })

            function get_cookie(name) {
                let cookies = {}
              document.cookie.split(';').forEach(function(cookie_pair) {
                let [key, value] = cookie_pair.split('=');
                cookies[key.trim()] = value;
              })
              return cookies[name];
            }

            document.getElementById('leaderboardSwitch').addEventListener('click', () => {
                if (get_cookie('bs_leaderboard') === "ex") {
                    document.cookie = "bs_leaderboard=itg; Name=Value; Max-Age=1707109200; Path=/";
                    location.reload();
                }
                else {
                    document.cookie = "bs_leaderboard=ex; Name=Value; Max-Age=1707109200; Path=/"
                    location.reload();
                }
            })
        </script>
    </body>
</html>
