{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% block title %}
    {{ score.score|div:100|stringformat:".2f" }}% [{{ score.song.chart_info.diff_number }}] {{ score.song.display_name }}
{% endblock title %}
{% block head_extras %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:title"
          content="{{ score.score|div:100|stringformat:".2f" }}% [{{ score.song.chart_info.diff_number }}] {{ score.song.display_name }}"/>
    <meta property="og:description"
          content="By: {{ score.player.name }} ({{ score.player.machine_tag }}) | Date: {{ score.submission_date }}"/>
{% endblock head_extras %}
{% block content %}
    {% with song=score.song %}
        <h2 class="mt-2">
            <a href="{% url "song" song_hash=song.hash %}">{% include "boogie_ui/song_display_name.html" %}</a>
        </h2>
    {% endwith %}
    <h3 class="text-center">{{ score.score|div:100|stringformat:".2f" }}%</h3>
    {% if score.has_judgments %}
        <h3 class="text-center">EX Score: {{ score.ex }}%</h3>
        {% with both_fantastics=score.fantastics|add:score.fantastics_plus %}
            <div class="text-center d-flex flex-column justify-content-evenly" data-bs-toggle="tooltip" data-bs-html="true" title="Fantastics: {{ both_fantastics }} ({% widthratio both_fantastics score.total_steps 100 %}%)
                <br/>
                Excellents: {{ score.excellents }} ({% widthratio score.excellents score.total_steps 100 %}%)
                <br/>
                Greats: {{ score.greats }} ({% widthratio score.greats score.total_steps 100 %}%)
                <br/>
                Decents: {{ score.decents }} ({% widthratio score.decents score.total_steps 100 %}%)
                <br/>
                Way-offs: {{ score.way_offs }} ({% widthratio score.way_offs score.total_steps 100 %}%)
                <br/>
                Misses: {{ score.misses }} ({% widthratio score.misses score.total_steps 100 %}%)
                <br/>
                ">
                <div class="big-score-box"
                     style="grid-template-columns: {{ both_fantastics }}fr {{ score.excellents }}fr {{ score.greats }}fr {{ score.decents }}fr {{ score.way_offs }}fr {{ score.misses }}fr">
                    <div class="fantastic"></div>
                    <div class="excellent"></div>
                    <div class="great"></div>
                    <div class="decent"></div>
                    <div class="wayoff"></div>
                    <div class="miss"></div>
                </div>
            </div>
        {% endwith %}
    {% endif %}
    <div class="d-flex">
        <div class="col">
            <ul>
                <li>
                    Player: <a href="{% url "player" player_id=score.player.id %}">{{ score.player.name }} ({{ score.player.machine_tag }})</a>
                </li>
                <li>Comment: {{ score.comment }}</li>
                <li>C-MOD: {{ score.used_cmod }}</li>
                <li>Rate: {{ score.rate|div:100 }}</li>
                <li>
                    Submission Date:
                    {% with datetime=score.submission_date %}
                        {% include "boogie_ui/convert_timestamp.html" %}
                    {% endwith %}
                </li>
            </ul>
        </div>
        {% if score.has_judgments %}
            {% with both_fantastics=score.fantastics|add:score.fantastics_plus %}
                <div class="col">
                    <ul>
                        <li>
                            Fantastics: {{ both_fantastics }} ({{ score.fantastics_plus }} +  {{ score.fantastics }}) — {% widthratio both_fantastics score.total_steps 100 %}%
                        </li>
                        <li>Excellents: {{ score.excellents }} — {% widthratio score.excellents score.total_steps 100 %}%</li>
                        <li>Greats: {{ score.greats }} — {% widthratio score.greats score.total_steps 100 %}%</li>
                        <li>Decents: {{ score.decents }} — {% widthratio score.decents score.total_steps 100 %}%</li>
                        <li>Way-offs: {{ score.way_offs }} — {% widthratio score.way_offs score.total_steps 100 %}%</li>
                        <li>Misses: {{ score.misses }} — {% widthratio score.misses score.total_steps 100 %}%</li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>Total Steps: {{ score.total_steps }}</li>
                        <li>Mines: {{ score.total_mines|sub:score.mines_hit }}/{{ score.total_mines }}</li>
                        <li>Holds: {{ score.holds_held }}/{{ score.total_holds }}</li>
                        <li>Rolls: {{ score.rolls_held }}/{{ score.total_rolls }}</li>
                    </ul>
                </div>
            {% endwith %}
        {% endif %}
    </div>
{% endblock content %}
