{% extends "boogie_ui/root.html" %}
{% block title %}
    Scores
{% endblock title %}
{% block content %}
    <h2>Scores</h2>
    {% if scores %}
        {% include "boogie_ui/paginator.html" %}
        <table class="table table-striped">
            <thead class="bg-body-secondary">
                <tr>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "scores" %}">Submission Date
                            {% if request.resolver_match.url_name == "scores" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-100 text-nowrap">Song</th>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "highscores" %}">Score
                            {% if request.resolver_match.url_name == "highscores" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-1 text-nowrap">Player</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for score in scores %}
                    <tr>
                        <td class="text-nowrap">
                            {% with datetime=score.submission_date %}
                                {% include "boogie_ui/convert_timestamp.html" %}
                            {% endwith %}
                        </td>
                        <td>
                            {% with song=score.song %}
                                {% include "boogie_ui/song_link.html" %}
                            {% endwith %}
                        </td>
                        <td class="text-nowrap">{% include "boogie_ui/score_with_judgments.html" %}</td>
                        <td class="text-nowrap">
                            <a href="{% url "player" player_id=score.player.id %}">{{ score.player.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No scores are available.</p>
    {% endif %}
{% endblock content %}
