{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% load l10n %}
{% block title %}
    {{ player.name }} ({{ player.machine_tag }}) on {{ day }}
{% endblock title %}
{% block head_extras %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title"
          content="{{ player.name }} ({{ player.machine_tag }}) on {{ day }}" />
    <meta property="og:description"
          content="Scores: {{ num_scores|localize }} | Charts played: {{ num_charts_played|localize }}" />
{% endblock head_extras %}
{% block content %}
    <h1>
        <a href="{% url "player" player_id=player.id %}">{{ player.name }} ({{ player.machine_tag }})</a> on {{ day }}
    </h1>
    <div class="d-flex">
        <div class="col">
            <ul>
                <li>Scores: {{ num_scores|localize }}</li>
                <li>Charts played: {{ num_charts_played|localize }}</li>
                <li>Total steps hit: {{ steps_hit|localize }}</li>
                <li>Fantastics: {{ fantastics|add:fantastics_plus|localize }} ({{ fantastics_plus|localize }} + {{ fantastics|localize }})</li>
                <li>Excellents: {{ excellents|localize }}</li>
                <li>Greats: {{ greats|localize }}</li>
                <li>Decents: {{ decents|localize }}</li>
                <li>Way-offs: {{ way_offs|localize }}</li>
                <li>Misses: {{ misses|localize }}</li>
            </ul>
        </div>
        {% include "boogie_ui/stars.html" %}
    </div>
    {% with both_fantastics=fantastics|add:fantastics_plus %}
        <div class="text-center d-flex flex-column justify-content-evenly"
             data-bs-toggle="tooltip"
             data-bs-html="true"
             title="Fantastics+: {{ fantastics_plus|localize }} ({% widthratio fantastics_plus total_steps 100 %}%) <br /> Fantastics: {{ fantastics|localize }} ({% widthratio fantastics total_steps 100 %}%) <br /> Excellents: {{ excellents|localize }} ({% widthratio excellents total_steps 100 %}%) <br /> Greats: {{ greats|localize }} ({% widthratio greats total_steps 100 %}%) <br /> Decents: {{ decents|localize }} ({% widthratio decents total_steps 100 %}%) <br /> Way-offs: {{ way_offs|localize }} ({% widthratio way_offs total_steps 100 %}%) <br /> Misses: {{ misses|localize }} ({% widthratio misses total_steps 100 %}%) <br /> ">
        <div class="big-score-box"
             style="grid-template-columns: {{ fantastics_plus }}fr {{ fantastics }}fr {{ excellents }}fr {{ greats }}fr {{ decents }}fr {{ way_offs }}fr {{ misses }}fr">
            <div class="fantastic"></div>
            <div class="fantastic_white"></div>
            <div class="excellent"></div>
            <div class="great"></div>
            <div class="decent"></div>
            <div class="wayoff"></div>
            <div class="miss"></div>
        </div>
    </div>
{% endwith %}
<hr />
<h3>{{ day }} Scores</h3>
{% if scores %}
    {% include "boogie_ui/paginator.html" %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="bg-body-secondary">
                <tr>
                    <th scope="col" class="w-100 text-nowrap">Song</th>
                    <th scope="col" class="w-1 text-nowrap">Comment</th>
                    <th scope="col" class="w-1 text-nowrap">{{ lb_display_name }} Score</th>
                    <th scope="col" class="w-1 text-nowrap">Submission Date ↓</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for score in scores %}
                    <tr>
                        <td class="text-nowrap">
                            {% with song=score.song %}
                                {% include "boogie_ui/song_link.html" %}
                            {% endwith %}
                        </td>
                        <td class="text-nowrap">{{ score.comment }}</td>
                        <td class="text-nowrap">{% include "boogie_ui/score_with_judgments.html" %}</td>
                        <td class="text-nowrap">
                            {% with datetime=score.submission_date %}
                                {% include "boogie_ui/convert_timestamp.html" %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "boogie_ui/paginator.html" %}
{% else %}
    <p>No scores.</p>
{% endif %}
{% endblock content %}
