{% load mathfilters %}
{% load boogiestats_tags %}
{% if score.has_judgments %}
    {% with both_fantastics=score.fantastics|add:score.fantastics_plus %}
        <div class="text-center d-flex flex-column justify-content-evenly" data-bs-toggle="tooltip" data-bs-html="true" title="ITG Score: {{ score.itg_score|div:100|stringformat:".2f" }}
            <br />
            EX Score: {{ score.ex_score|div:100|stringformat:".2f" }}%
            <br />
            Both Fantastics: {{ both_fantastics }} ({% widthratio both_fantastics score.total_steps 100 %}%)
            <br />
            Fantastics+: {{ score.fantastics_plus }} ({% widthratio score.fantastics_plus score.total_steps 100 %}%)
            <br />
            Fantastics: {{ score.fantastics }} ({% widthratio score.fantastics score.total_steps 100 %}%)
            <br />
            Excellents: {{ score.excellents }} ({% widthratio score.excellents score.total_steps 100 %}%)
            <br />
            Greats: {{ score.greats }} ({% widthratio score.greats score.total_steps 100 %}%)
            <br />
            Decents: {{ score.decents }} ({% widthratio score.decents score.total_steps 100 %}%)
            <br />
            Way-offs: {{ score.way_offs }} ({% widthratio score.way_offs score.total_steps 100 %}%)
            <br />
            Misses: {{ score.misses }} ({% widthratio score.misses score.total_steps 100 %}%)
            <br />
            ">
            <a href="{% url "score" pk=score.id %}">
                <div>{{ score|attr:lb_attribute|div:100|stringformat:".2f" }}%</div>
            </a>
            <div class="score-box mx-auto"
                 style="grid-template-columns: {{ score.fantastics_plus }}fr {{ score.fantastics }}fr {{ score.excellents }}fr {{ score.greats }}fr {{ score.decents }}fr {{ score.way_offs }}fr {{ score.misses }}fr">
                <div class="fantastic"></div>
                <div class="fantastic_white"></div>
                <div class="excellent"></div>
                <div class="great"></div>
                <div class="decent"></div>
                <div class="wayoff"></div>
                <div class="miss"></div>
            </div>
        </div>
    {% endwith %}
{% else %}
    <a href="{% url "score" pk=score.id %}">
        <div class="text-center d-flex flex-column justify-content-evenly">
            <div>{{ score|attr:lb_attribute|div:100|stringformat:".2f" }}%</div>
        </div>
    </a>
{% endif %}
