{% load mathfilters %}
<div class="display-table">
    <div class="display-table-cell align-middle">{{ score.score|div:100|stringformat:".2f" }}%</div>
    {% if score.has_judgments %}
        {% with both_fantastics=score.fantastics|add:score.fantastics_plus %}
            <div class="display-table-cell score-box align-middle"
                 style="grid-template-columns: {{ both_fantastics }}fr {{ score.excellents }}fr {{ score.greats }}fr {{ score.decents }}fr {{ score.way_offs }}fr {{ score.misses }}fr;">
                <div class="fantastic"
                     title="{{ both_fantastics }} ({% widthratio both_fantastics score.total_steps 100 %}%)"></div>
                <div class="excellent"
                     title="{{ score.excellents }} ({% widthratio score.excellents score.total_steps 100 %}%)"></div>
                <div class="great"
                     title="{{ score.greats }} ({% widthratio score.greats score.total_steps 100 %}%)"></div>
                <div class="decent"
                     title="{{ score.decents }} ({% widthratio score.decents score.total_steps 100 %}%)"></div>
                <div class="wayoff"
                     title="{{ score.way_offs }} ({% widthratio score.way_offs score.total_steps 100 %}%)"></div>
                <div class="miss"
                     title="{{ score.misses }} ({% widthratio score.misses score.total_steps 100 %}%)"></div>
            </div>
        {% endwith %}
    {% endif %}
</div>
