{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% load l10n %}
{% load boogiestats_tags %}
{% block title %}
    Search Results
{% endblock title %}
{% block content %}
    <h2>Song Search Results</h2>
    {% if songs %}
        {% include "boogie_ui/paginator.html" %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="bg-body-secondary">
                    <tr>
                        <th scope="col" class="w-100 text-nowrap">Song</th>
                        <th scope="col" class="w-1 text-nowrap">#Scores ↓</th>
                        <th scope="col" class="w-1 text-nowrap">#Players</th>
                        <th scope="col" class="w-1 text-nowrap">{{ lb_display_name }} Highscore</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for song in songs %}
                        <tr>
                            <td class="text-nowrap">{% include "boogie_ui/song_link.html" %}</td>
                            <td class="text-nowrap">{{ song.number_of_scores|localize }}</td>
                            <td class="text-nowrap">{{ song.number_of_players|localize }}</td>
                            <td class="text-nowrap">
                                {% if song|attr:highscore_attribute %}
                                    {% with highscore=song|attr:highscore_attribute %}
                                        <a href="{% url "score" pk=highscore.id %}">{{ highscore|attr:lb_attribute|div:100|stringformat:".2f" }}%</a> by
                                        <a href="{% url "player" player_id=highscore.player.id %}">{{ highscore.player.name }}</a>
                                    {% endwith %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No results.</p>
    {% endif %}
{% endblock content %}
