{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% block title %}
    Songs
{% endblock title %}
{% block content %}
    <h2>Songs</h2>
    {% if songs %}
        {% include "boogie_ui/paginator.html" %}
        <table class="table table-striped">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Song</th>
                    <th scope="col">#Scores</th>
                    <th scope="col">#Players</th>
                    <th scope="col">Highscore</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{% include "boogie_ui/song_link.html" %}</td>
                        <td>{{ song.num_scores }}</td>
                        <td>{{ song.num_players }}</td>
                        <td>
                            {% if song.highscore %}
                                {{ song.highscore.score|div:100|stringformat:".2f" }}% by <a href="{% url "player" player_id=song.highscore.player.id %}">{{ song.highscore.player.name }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No songs.</p>
    {% endif %}
{% endblock content %}
