{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% block title %}
    [{{ song.chart_info.diff_number }}] {{ song.display_name }}
{% endblock title %}
{% block head_extras %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:title"
          content="[{{ song.chart_info.diff_number }}] {{ song.display_name }}"/>
    <meta property="og:description"
          content="Pack: {{ song.chart_info.pack_name }} | Playcount: {{ song.scores.count }} | Highscores: {{ num_highscores }}"/>
{% endblock head_extras %}
{% block content %}
    <h2 class="mt-2">{% include "boogie_ui/song_display_name.html" %}</h2>
    <p>Pack: {{ song.chart_info.pack_name }}</p>
    <a href="{% url "song" song_hash=song.hash %}"
       class="btn {% if request.resolver_match.url_name == "song" %}btn-success{% else %}btn-secondary{% endif %}">
        All Scores ({{ song.scores.count }})
    </a>
    <a href="{% url "song_highscores" song_hash=song.hash %}"
       class="btn {% if request.resolver_match.url_name == "song_highscores" %}btn-success{% else %}btn-secondary{% endif %}">
        Highscores ({{ num_highscores }})
    </a>
    {% if user.is_authenticated %}
        <a href="{% url 'song_by_player' song_hash=song.hash player_id=user.player.id %}"
           class="btn {% if request.resolver_match.url_name == 'song_by_player' and user.player.id == player.id %}btn-success{% else %}btn-secondary{% endif %}">
            My scores ({{ my_scores }})
        </a>
    {% endif %}
    <h3>
        {% if request.resolver_match.url_name == "song" %}
            All Scores
        {% elif request.resolver_match.url_name == "song_highscores" %}
            Highscores
        {% elif request.resolver_match.url_name == "song_by_player" %}
            {% if user.player.id == player.id %}
                My scores
            {% else %}
                {{ player.name }} scores
            {% endif %}
        {% else %}
            Scores
        {% endif %}
    </h3>
    {% if song.scores %}
        {% include "boogie_ui/paginator.html" %}
        <table class="table table-striped">
            <thead class="table-secondary">
                <tr>
                    <th scope="col" class="w-1 text-nowrap">Score ↓</th>
                    <th scope="col" class="w-1 text-nowrap">Player</th>
                    <th scope="col" class="w-100 text-nowrap">Comment</th>
                    <th scope="col" class="w-1 text-nowrap">Submission Date</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for score in scores %}
                    <tr>
                        <td class="text-nowrap">{% include "boogie_ui/score_with_judgments.html" %}</td>
                        <td class="text-nowrap">
                            <a href="{% url "player" player_id=score.player.id %}">{{ score.player.name }}</a>
                        </td>
                        <td class="text-nowrap">{{ score.comment }}</td>
                        <td class="text-nowrap">
                            {% with datetime=score.submission_date %}
                                {% include "boogie_ui/convert_timestamp.html" %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No songs.</p>
    {% endif %}
{% endblock content %}
