{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% block title %}
    {{ song.display_name }}
{% endblock title %}
{% block content %}
    <h2>{% include "boogie_ui/song_display_name.html" %}</h2>
    <a href="{% url "song" song_hash=song.hash %}">All Scores</a> |
    <a href="{% url "song_highscores" song_hash=song.hash %}">Highscores</a>
    {% if song.scores %}
        {% include "boogie_ui/paginator.html" %}
        <table class="table table-striped">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Score</th>
                    <th scope="col">Player</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Submission Date</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                    <tr>
                        <td>{{ score.score|div:100|stringformat:".2f" }}%</td>
                        <td>
                            <a href="{% url "player" player_id=score.player.id %}">{{ score.player.name }}</a>
                        </td>
                        <td>{{ score.comment }}</td>
                        <td>{{ score.submission_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No songs.</p>
    {% endif %}
{% endblock content %}
