<span class="display-table">
    <span title="{{ song.chart_info.diff }}"
          class="diff-box diff-{{ song.chart_info.diff|lower }}">
        {{ song.chart_info.diff_number }}
    </span>
    {% if song.gs_ranked %}
        <span title="GrooveStats ranked song. This is only the local leaderboard for this song."
              class="gs-ranked">GS</span>
    {% endif %}
    <span class="ms-2 display-table-cell align-middle ps-2">
        {{ song.display_name }}
        {% if song.hash == song.display_name %}
            <a target="_blank"
               class="btn btn-info btn-sm"
               href="https://github.com/florczakraf/stepmania-chart-db"
               title="Consider contributing missing songs to the database!">
                ?
            </a>
        {% endif %}
    </span>
</span>
