{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% block title %}
    Songs
{% endblock title %}
{% block content %}
    <h2>Songs</h2>
    {% if songs %}
        {% include "boogie_ui/paginator.html" %}
        <table class="table table-striped">
            <thead class="bg-body-secondary">
                <tr>
                    <th scope="col" class="w-100 text-nowrap">Song</th>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "songs" %}">#Scores
                            {% if request.resolver_match.url_name == "songs" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "songs_by_players" %}">#Players
                            {% if request.resolver_match.url_name == "songs_by_players" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-1 text-nowrap">ITG Highscore</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for song in songs %}
                    <tr>
                        <td>{% include "boogie_ui/song_link.html" %}</td>
                        <td class="text-nowrap">{{ song.number_of_scores }}</td>
                        <td class="text-nowrap">{{ song.number_of_players }}</td>
                        <td class="text-nowrap">
                            {% if song.itg_highscore %}
                                <a href="{% url "score" pk=song.itg_highscore.id %}">{{ song.itg_highscore.itg_score|div:100|stringformat:".2f" }}%</a> by
                                <a href="{% url "player" player_id=song.itg_highscore.player.id %}">{{ song.itg_highscore.player.name }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No songs.</p>
    {% endif %}
{% endblock content %}
