{% extends "boogie_ui/root.html" %}
{% load mathfilters %}
{% block title %}
    {{ p1.name }} ({{ p1.machine_tag }})
    vs
    {{ p2.name }} ({{ p2.machine_tag }})
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-end">
                <div>
                    <h2>
                        <a href="{% url "player" player_id=p1.id %}">{{ p1.name }} ({{ p1.machine_tag }})</a>
                    </h2>
                </div>
                <div>{{ p1.join_date.date }}</div>
                <div>{{ p1_num_scores }}</div>
                <div>{{ p1_num_charts_played }}</div>
                <div>
                    <hr />
                </div>
                <div>{{ p1_four_stars }}</div>
                <div>{{ p1_three_stars }}</div>
                <div>{{ p1_two_stars }}</div>
                <div>{{ p1_one_star }}</div>
                <div>
                    <hr />
                </div>
                <div>{{ common_charts }}</div>
                <div>{{ p1_wins }}</div>
                <div>{{ ties }}</div>
            </div>
            <div class="col-2 text-center text-nowrap">
                <div>
                    <h2>vs</h2>
                </div>
                <div>Joined On</div>
                <div>Scores</div>
                <div>Charts Played</div>
                <div>
                    <hr />
                </div>
                <div>★★★★</div>
                <div>★★★</div>
                <div>★★</div>
                <div>★</div>
                <div>
                    <hr />
                </div>
                <div>Common Charts</div>
                <div>Wins</div>
                <div>Ties</div>
            </div>
            <div class="col text-start">
                <div>
                    <h2>
                        <a href="{% url "player" player_id=p2.id %}">{{ p2.name }} ({{ p2.machine_tag }})</a>
                    </h2>
                </div>
                <div>{{ p2.join_date.date }}</div>
                <div>{{ p2_num_scores }}</div>
                <div>{{ p2_num_charts_played }}</div>
                <div>
                    <hr />
                </div>
                <div>{{ p2_four_stars }}</div>
                <div>{{ p2_three_stars }}</div>
                <div>{{ p2_two_stars }}</div>
                <div>{{ p2_one_star }}</div>
                <div>
                    <hr />
                </div>
                <div>{{ common_charts }}</div>
                <div>{{ p2_wins }}</div>
                <div>{{ ties }}</div>
            </div>
        </div>
    </div>
    {% if scores %}
        {% include "boogie_ui/paginator.html" %}
        <table class="table table-striped">
            <thead class="bg-body-secondary">
                <tr>
                    <th scope="col" class="w-100 text-nowrap">Song</th>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "versus_by_difference" p1=p1.id p2=p2.id %}"> Difference (pp)
                            {% if request.resolver_match.url_name == "versus_by_difference" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "versus" p1=p1.id p2=p2.id %}">{{ p1.name }} ({{ p1.machine_tag }}) ITG score
                            {% if request.resolver_match.url_name == "versus" %}↓{% endif %}
                        </a>
                    </th>
                    <th scope="col" class="w-1 text-nowrap">
                        <a href="{% url "versus" p1=p2.id p2=p1.id %}">{{ p2.name }} ({{ p2.machine_tag }}) ITG score</a>
                    </th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for p1_score, p2_score in scores %}
                    <tr>
                        <td>
                            {% with song=p1_score.song %}
                                {% include "boogie_ui/song_link.html" %}
                            {% endwith %}
                        </td>
                        <td class="text-nowrap">{{ p1_score.score|sub:p2_score.score|div:100|stringformat:".2f" }}</td>
                        <td class="text-nowrap {% if p1_score.score > p2_score.score %}table-success{% elif p1_score.score == p2_score.score %}table-warning{% else %}table-danger{% endif %}">
                            <a href="{% url "score" pk=p1_score.id %}">{{ p1_score.score|div:100|stringformat:".2f" }}%</a>
                        </td>
                        <td class="text-nowrap {% if p1_score.score < p2_score.score %}table-success{% elif p1_score.score == p2_score.score %}table-warning{% else %}table-danger{% endif %}">
                            <a href="{% url "score" pk=p2_score.id %}">{{ p2_score.score|div:100|stringformat:".2f" }}%</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "boogie_ui/paginator.html" %}
    {% else %}
        <p>No common songs.</p>
    {% endif %}
{% endblock content %}
